.home {
  padding: 2rem 5%;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 4rem);
  width: 100%;
  > section {
    width: 100%;
    height: 27.75rem;
    margin: auto;
    background: url("../assets/cover.jpg") no-repeat center / cover;
    > h1 {
      @include heading(1px);
      margin-top: 28rem;
      @include flex(row, space-between, center);
      .findmore {
        font-size: 1rem;
      }
    }
  }
  > main {
    width: 100%;
    flex: 1;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.productCard {
  width: 18.75rem;
  height: 25rem;
  padding: 1rem;
  flex: none;
  @include flex(column, flex-start, center, 4px);
  position: relative;
  
  &:hover>div{
    opacity: 1;
  }
  
  img {
    @include square(calc(18.75rem - 3rem));
     height: auto;
    margin: 1rem;
  }

  span {
    font-weight: 700;
    font-size: 1.1rem;
  }
  > div {
    position: absolute;
    opacity: 0;
    @include square(100%);
    top: 0;
    left: 0;
    background-color: #0000006b;
    @include flex;
    button {
      @include flex;
      @include square(3rem);
      border-radius: 100%;
      border: none;
      background-color: $color3;
      cursor: pointer;
      color: $color1;
      font-size: 1.1rem;
      transition: all 0.3s;
      &:hover {
        rotate: 20deg;
      }
    }
  }
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem; // Optional: Add padding

  // Media query for larger screens
  @media (min-width: 1200px) {
    > div {
      width: calc(25% - 1rem); // 4 items per row with margin
      margin-bottom: 1rem; // Space between rows
    }
  }

  // Media query for medium screens (3 items per row)
  @media (min-width: 768px) and (max-width: 1199px) {
    > div {
      width: calc(33.33% - 1rem); // 3 items per row
      margin-bottom: 1rem; // Space between rows
    }
  }

  // Media query for small screens (2 items per row)
  @media (max-width: 767px) {
    > div {
      width: calc(50% - 1rem); // 2 items per row
      margin-bottom: 1rem; // Space between rows
    }
  }

  // Media query for extra small screens (1 item per row)
  @media (max-width: 479px) {
    > div {
      width: 100%; // 1 item per row
      margin-bottom: 1rem; // Space between rows
    }
  }
}
